

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
div {
  background-color: rgb(73, 185, 236);
  text-align: right;
  height: 120px;
  padding: 10px;
}

